<div class="app-body">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-fw pi-box"></i>
                <span>Card-View</span>
            </ng-template>
            <app-card-view></app-card-view>
        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-fw pi-list"></i>
                <span>List-Details</span>
            </ng-template>
            <app-list-view></app-list-view>
        </p-tabPanel>
        <p-tabPanel header="Header III">
            <ng-template pTemplate="header">
                <i class="pi pi-fw pi-calendar-plus"></i>
                <span>Release-Calendar</span>
            </ng-template>
            <app-release-calendar></app-release-calendar>
        </p-tabPanel>
    </p-tabView>
</div>